<div class="form-group d-flex">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearCliente">Crear
      Cliente</button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" disabled>Exportar</button>
  </div>
</div>
<br><br>
<div class="form-group d-flex">
  <div class="col-sm-2">
    <input type="text" name="CodigoProducto" value="" class="form-control" placeholder="Enter Shared Key">

  </div>
  <div class="col-sm-3">
    <input type="submit" name="accion" value="Search" class="btn btn-outline-primary">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" disabled>Advancedd
      Search</button>
  </div>
</div>
<div class="modal fade" id="crearCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulario para crear un cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="guardarCliente()">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="txtNombre" class="form-control" id="txtNombre" [(ngModel)]="cliente.businessId">
          </div>
          <div class="form-group">
            <label>Telefono</label>
            <input type="text" name="txtTelefono" class="form-control" id="txtTelefono" [(ngModel)]="cliente.phone">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="txtEmail" class="form-control" id="txtEmail" [(ngModel)]="cliente.email">
          </div>
          <div class="form-group">
            <label>Fecha Inicio</label>
            <input type="date" name="txtFechaInicio" class="form-control" id="txtFechaInicio"
              [(ngModel)]="cliente.startDate">
          </div>
          <div class="form-group">
            <label>Fecha Fin</label>
            <input type="date" name="txtFechaFin" class="form-control" id="txtFechaFin" [(ngModel)]="cliente.endDate">
          </div>
          <br>
          <button type="submit" name="accion" value="Agregar" class="btn btn-primary">Agregar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<br><br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Shared Key</th>
      <th>Business ID</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Data Added</th>
      <th><a><i class="bi bi-pencil-fill"></i></a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th>{{cliente.sharedKey}}</th>
      <th>{{cliente.businessId}}</th>
      <th>{{cliente.email}}</th>
      <th>{{cliente.phone}}</th>
      <th>{{cliente.startDate}}</th>
      <th><a><i class="bi bi-pencil-fill bs-danger"></i></a></th>
    </tr>
  </tbody>
</table>
