<div class="form-group d-flex">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearCliente">Crear
      Cliente</button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" disabled>Exportar</button>
  </div>
</div>
<br><br>
<div class="form-group d-flex">
  <div class="col-sm-2">
    <input type="text" name="CodigoProducto" value="" class="form-control" placeholder="Enter Shared Key">

  </div>
  <div class="col-sm-3">
    <input type="submit" name="accion" value="Search" class="btn btn-outline-primary">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#" disabled>Advancedd
      Search</button>
  </div>
</div>
<div class="modal fade" id="crearCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <app-resgitrar-cliente></app-resgitrar-cliente>
</div>

<div class="modal fade" id="actualizarCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <app-actualizar-cliente>
  
  </app-actualizar-cliente>
</div>

<br><br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Shared Key</th>
      <th>Business ID</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Data Added</th>
      <th><a><i class="bi bi-pencil-fill"></i></a></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th>{{cliente.sharedKey}}</th>
      <th>{{cliente.businessId}}</th>
      <th>{{cliente.email}}</th>
      <th>{{cliente.phone}}</th>
      <th>{{cliente.startDate}}</th>
      <th><a [routerLink]="'actualizar-cliente/cliente_id' + cliente.id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg></a></th>
    </tr>
  </tbody>
</table>
